<!-- Region 3 Wrap -->

<div class="container region3wrap">


    <!-- Content Top -->
    <div class="row content_top">

        <div class="nine columns">

            <ul class="breadcrumbs">
                <li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)">Home</a></li>
                <li class="current"><a href="javascript:void(0)">About Us</a></li>
            </ul>

        </div>

        <div class="three columns">

            <div class="row">
                <div class="twelve columns">
                    <div class="row collapse top_search">
                        <div class="ten mobile-three columns">
                            <input type="text" placeholder="Enter search terms" />
                        </div>
                        <div class="two mobile-one columns">
                            <a href="#" class="button icon-search"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- End Content Top -->

</div>

<!-- End Region 3 Wrap -->
<!-- Region 4 Wrap -->

<div class="container region4wrap">

    <div class="row maincontent">

        <div class="twelve columns">

            <div class="page_title">

                <div class="row">

                    <div class="twelve columns">
                        <h1>Meet Lore</h1>
                    </div>

                </div>

            </div>

        </div>

        <div class="twelve columns">

            <div class="row services">

                <div class="eight columns">


                    <div class="row team">


                            <div class="member-info">

                                <div class="img_default" style="border:none"><img src="/Images/images/team/1.jpg" alt="Lance Dorgan"></div>
                                @*<h2 class="member-name">Lore</h2>*@
                                <p class="member-possition">Founder </p>
                                <p class="member-description">Lore began her haircare career in Los Angeles in 1984 and has clients all over the US.  She spent

years working on television and movie sets and styling for print ads and music videos.

An advocate for natural hair care for the past 30 years, Lore believes beauty begins at the bowl

and keeping hair healthy and manageable is key! This can be done with proper training and without the

excessive use of harsh chemicals.  Let Lore’s expertise and products give you the strong, healthy hair you

had when you were a little girl and put you back on the path to the beautiful hair you’ve always desired!</p>
                                @*<ul class="member-social">

                                    <li><a href="https://twitter.com/"><i class="icon-twitter icon20"></i></a></li>
                                    <li><a href="http://www.facebook.com/"><i class="icon-facebook icon20"></i></a>
                                    <li><a href="http://www.linkedin.com/"><i class="icon-linkedin icon20"></i></a></li>

                                </ul>*@

                            </div>






                    </div>

                </div>

                

            </div>

        </div>

      
       

    </div>

</div>

<!-- End Region 4 Wrap -->